## Task is to collect data from Socrata and covert it to a delimited file

##### Author: 
-- Gaurav Bhardwaj

In [1]:
## Importing required packages
from sodapy import Socrata as sc
import pandas as pd
import json
import credentials as cd

### Sodapy client function to retrieve data

In [2]:
client = sc(domain = "data.lacity.org", app_token = cd.app_token, username = cd.username, password = cd.password)

In [3]:
results = client.get("im35-exj5", limit=1000000000)

In [4]:
data = pd.DataFrame.from_records(results)

In [5]:
data.head()

,area_occurred,call_type_code,call_type_description,dispatch_date,dispatch_time,incident_number,reporting_district
0,Pacific,9212,TRESPASS SUSP,2017-12-02T00:00:00.000,23:59:46,171202006023,1452
1,Devonshire,006,CODE 6,2017-12-02T00:00:00.000,23:59:06,171202006029,1743
2,N Hollywood,9212N,TRESPASS SUSP NOW,2017-12-02T00:00:00.000,23:58:30,171202005985,1547
3,Hollenbeck,507P,PARTY,2017-12-02T00:00:00.000,23:58:09,171202006004,0439
4,Hollenbeck,507P,PARTY,2017-12-02T00:00:00.000,23:58:06,171202006005,0471

In [6]:
print('Number of records in the file: {}'.format(len(data)))

Number of records in the file: 1048989

In [7]:
data.to_csv('calls_for_service_2017.txt',sep='|', index=False, header=True)

#### This can be iterated for multiple datasets (depends on size and kernel caacity, may kill your kernel)

In [8]:
dictionary = {'crime_2010_ytd':'7fvc-faax', 'call_for_servive_2018':'m9qm-gwm5'}

In [9]:
dictionary.values()

dict_values(['7fvc-faax', 'm9qm-gwm5'])

In [ ]:
for i in dictionary.keys():
    results_i = client.get(dictionary[i], limit=1000000000)
    data_i = pd.DataFrame.from_records(results_i)
    print('Number of records in the file: {}'.format(len(data_i)))
    data_i.to_csv('{}.txt'.format(i),sep='|', index=False, header=True)

Number of records in the file: 273909

### Using JSON API to retrieve data

In [10]:
df = pd.read_json("https://data.lacity.org/resource/im35-exj5.json?$limit=100000000")

In [11]:
df.head()

,area_occurred,call_type_code,call_type_description,dispatch_date,dispatch_time,incident_number,reporting_district
0,Pacific,9212,TRESPASS SUSP,2017-12-02T00:00:00.000,2018-04-07 23:59:46,171202006023,1452
1,Devonshire,006,CODE 6,2017-12-02T00:00:00.000,2018-04-07 23:59:06,171202006029,1743
2,N Hollywood,9212N,TRESPASS SUSP NOW,2017-12-02T00:00:00.000,2018-04-07 23:58:30,171202005985,1547
3,Hollenbeck,507P,PARTY,2017-12-02T00:00:00.000,2018-04-07 23:58:09,171202006004,439
4,Hollenbeck,507P,PARTY,2017-12-02T00:00:00.000,2018-04-07 23:58:06,171202006005,471

In [12]:
len(df)

1048989

In [ ]:
#df.to_csv('calls_for_service_2017.txt',sep='|', index=False, header=True)